body
{  background-image: url("https://images.unsplash.com/photo-1480497490787-505ec076689f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80.jpg");
   background-attachment:fixed;
   background-size:100% 100%;

}
.tabs{
  background-color:black;
  color:white;
  float:left;
  border: none;
  cursor:pointer;
  padding:15px 25px;
  font-family:Arial Rounded MT;
  font-size:16;
  	}
.tabs:hover{
  background-color: #555
}
#home{
padding: 50px}

img{
  margin-left:35%
   }
