body
{  background-image: url("https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg");
   background-attachment:fixed;
   background-size:100% 100%;

}
.tabs{
  background-color:black;
  color:white;
  float:left;
  border: none;
  cursor:pointer;
  padding:15px 25px;
  font-family:Arial Rounded MT;
  font-size:16;
  	}
.tabs:hover{
  background-color: #555
}
#home{
padding: 50px}

img{
  margin-left:35%
   }
